<div class="footer d-flex flex-column align-items-center justify-content-center text-gray my-5 pt-5">
  <ul class="d-flex align-items-center justify-content-between w-50">
    <li>Company</li>
    <li>About Us</li>
    <li>Team</li>
    <li>Products</li>
    <li>Blog</li>
    <li>Pricing</li>
  </ul>
  <ul class="d-flex align-items-center justify-content-between w-25">
    <li><i class="bi bi-tiktok"></i></li>
    <li><i class="bi bi-twitter"></i></li>
    <li><i class="bi bi-whatsapp"></i></li>
    <li><i class="bi bi-instagram"></i></li>
    <li><i class="bi bi-facebook"></i></li>
    <li><i class="bi bi-github"></i></li>
  </ul>
  <p>Copyright © 2023 Soft by Creative Tim.</p>
</div>
