 .nav {
    color: white;
    font-size: 17px;

    p {
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        color: rgb(156, 156, 156);
      }
    }

    ul {
      li {
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        transition: 0.4s;

        &:hover {
          color: rgb(201, 201, 201);
        }
      }
    }
  }
  .log{
    background: rgba(255, 255, 255,0.5);
    position: fixed !important;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    color: black;
    border-radius: 50px !important;
    margin: 30px !important;

  }
