<div class="w-100 px-5 d-flex justify-content-center" style="z-index: 1;">
  <div [ngClass]="log" class="nav mx-5 text-capitalize rounded-5 d-flex row m-0 w-75 p-3 align-items-center">
    <div class="col-4">
      <p>Soft UI Dashboard</p>
    </div>
    <div class="col-6 px-2">
      <ul class="d-flex align-items-center justify-content-between  m-0 ">
        <li routerLink="/dashboard"><i class="me-1 bi bi-pie-chart-fill"></i>dashboard</li>
        <li routerLink="/profile"><i class="me-1 bi bi-person-fill"></i>profile</li>
        <li routerLink="/login"><i class="me-1 bi bi-key-fill"></i>sign in</li>
        <li routerLink="/signup"><i class="me-1 bi bi-person-circle"></i>sign up</li>
      </ul>
    </div>
  </div>

</div>
